.nav{
    display: flex;
    background-color: #1d4ed8;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}